force-app/main/default/flows/Update_Total_Parent_Records_in_Batch_Operation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Number_of_Parent_Records</name>
        <label>Assign Number of Parent Records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>numberOfParents</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Batch_Operation_Result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Batch_Operation</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Total Parent Records in Batch Operation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Total Parent Records in Batch Operation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Batch_Operation_Result</name>
        <label>Get Batch Operation Result</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_of_Parent_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Batch_Operation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Batch_Operation__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Proper_Batch_Operation_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Batch_Operation</name>
        <label>Update Batch Operation</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Batch_Operation__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Parent_Records__c</field>
            <value>
                <elementReference>numberOfParents</elementReference>
            </value>
        </inputAssignments>
        <object>Proper_Batch_Operation__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Batch_Operation_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Proper_Batch_Operation_Result__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>numberOfParents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
